@model PruebaFinal.DTOS.ClienteDTO;
@{
    ViewData["Title"] = "INICIO";
}
<script src="https://kit.fontawesome.com/cb9c497f76.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<h1 class="Subtitle"><i class="fas fa-folder-open icono2"></i>Company Application</h1>
<hr />
<div class="row">
    <div class="Agregar">
        <h1 class="TitleAgg"><i class="fas fa-info-circle icono"></i>Añadir Cliente</h1>
        <p class="SubtAgg">Añada un cliente para continuar.</p>
        
    </div>
    <div class="ButMod">

        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">
         <i class="fas fa-plus-circle icono"></i>Añadir Cliente
        </button>
        <br />
        <br />
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">

            <form action="~/Home/Create" method="post">

              <h1 class="TitleMod"><i class="fas fa-info-circle icono"></i>Añadir Cliente</h1>
              <div class="seccion1">
                <p>Nombre:*</p>
                <input type="text" name="Nombre" id="Nombre"/>
              </div>
              <div class="seccion2">
              <label>Pais:*</label>
                <select asp-for="PaisId" title="" class="select1"
                asp-items="@(new SelectList(Model.Paises, "Id", "Nombre"))">
                <option disabled selected>Seleccione un pais</option>
                </select>
              <br />
              <br />
              <p>Valores para dropdown: PR, EU, Otro</p>
              </div>
              <div class="seccion3">
              <p>Tipo de entidad:*</p>
              <input type="checkbox" value="Individuo" name="TipoIdentidad" id="Tipo_Identidad1" onclick="validate(1);"/>
              <p class="op1">Individuo</p>
                            <div class="chkdi">
              <input type="checkbox" value="Compañia" name="TipoIdentidad" id="Tipo_Identidad2" onclick="validate(2);"/>
              <p class="op1">Compañia</p>

              <div class="SeccionBtns">
                  <div class="Btn1">   
                   <button type="submit" value="Save" class="btn btn-success"><i class="fas fa-save icono"></i>Save</button>
                  </div>
                  <div class="Btn2">
                      <a href="~/" class="btn btn-danger"><i class="fas fa-times icono"></i>Cancel</a>
                  </div>
                  <br />
                  <br />
              </div>
              </div>
            </div>

           </form>
          
       </div>
        </div>
      </div>
    <br />

    @if(Model.clientes.Count >0)
    {
        <div class="row r2">
            <div class="col md-12">
                <p class="TitleTable">Mis compañías</p>
                <table class="table table-bordered table-striped tbgnr">
                    <thead class="text-white bg-secondary">
                        <tr>
                            <td>Nombre</td>
                            <td>Pais</td>
                            <td>Tipo de Entidad</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cliente in Model.clientes)
                        {
                            <tr>
                                <td>@cliente.Nombre</td>
                                <td>@cliente.Pais.Nombre</td>
                                <td>@cliente.TipoIdentidad</td>
                                <td>
                                    <button onclick="jsDelete(@cliente.Id);" class="btn btn-danger"><i class="fa fa-close"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <br />
            </div>
        </div>
    }
</div>  
</div>

<script>
    function jsDelete(id){
        url="@Url.Content("~/Home/Delete")" + "/"+id;
        $.post(url, function(data){
            if(data=="1"){
                document.location.href="@Url.Content("/")"
            }else{
                alert("Ocurrió un error")
            }
        })
    }
    function validate(elemento) {
    var checkbox1 = document.getElementById("Tipo_Identidad1");
    var checkbox2 = document.getElementById("Tipo_Identidad2");

    if (checkbox1.checked == true && elemento !==2) {
        checkbox2.checked = false;
    }
    if(checkbox2.checked == true && elemento !==1){
        checkbox1.checked = false;
    }
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>